extends layout

block content
  h1= title
  p Welcome to #{title}
  div#grasprContainer
  button#upVote Up Vote
  button#downVote Down Vote
  button#startGraspr Start
  button#stopGraspr Stop
  button#resetGraspr Reset
